@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  padding:40px;
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#777;
  font-weight:300;
  width:840px;
}

.section{
  width:600px;
  float:right;
  padding-bottom:1px;
}

.footer {
  width:200px;
  float:left;
  position:fixed;
  bottom:10px;
  font-size:8pt;
}

hr.footer {
    border:0;
    background:#e5e5e5;
    height:1px;
}

.sidebar-title {
    font-size:20pt;
}

.sidebar-subtitle {
    font-size:12pt;
}

a {
    color:#39c;
}

.sidebar {
  width:200px;
  float:left;
  position:fixed;
}

